.table-data{
    width: 100%;
    height: auto;
    //background-color: aqua;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.drop-down{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    //background-color: aqua;
    display: flex;
    flex-flow: row;
    justify-content: center;
}